@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


/*--------------Estilos Generales--------------*/
 *{
    box-sizing: border-box;
}
 img {
    display: block;
    max-width: 100%;
  
}
 body {
     margin: 0;
  font-family: 'Open Sans', sans-serif;
}  
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
} 
 .section__titulo{
    text-align: center;
    font-size: 40px;
    color: #0565ad;
} 
.contenedor{
    margin: auto;
    width: 98%;
} 
/*--------------------ANIMACIONES BANNER SLIDER----------*/
 .container-slider {
  
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff,
              0 15px 50px;
  position: relative;
  margin-top: -60px;
  height: 90%;
  max-height: 545px;
}
.slider{
  display: flex;
  width: 400%;
  height: 545px;
  margin-left: -100%;
}
.slider__section{
  width: 100%;
}
.slider__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--rigth{
    right: 10px;
}
/*-----------------Estilos de header-----------------*/
.header{
     height: 60px;
}  
 .portada-chino{
   position: absolute;
   z-index: 1;
   width: auto;
   height: auto;
   max-width: 220px;
   max-height: 150px;
   margin-top: -15px;
 }
 .header .contenedor {
    display: flex;
    justify-content: space-between;
   
} 

 .logo , .fa-bars{
   position: relative;
   z-index: 1;
    margin: 5px;
    color: #FFF;
    margin-top: 15px;
   
} 

 .fa-bars {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #0565ad;
    
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    margin-left: auto; 
    cursor: pointer; 
}
/*-----------------Estilos del menu----------*/
 .nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
    z-index: 1;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link{
    display: block;
    padding: 15px;
    background: #0565ad;
    text-decoration: none;
    color: #FFF;
    

}

.menu__link:hover, .select {
  background: white;
   color: #0565ad;
 
} 

.mostrar {
    left: 0;
}

/*------Estilo de banner------*/
 /* .container-slider {
    margin-top: -60px;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
} */

.container-slider .contenedor {
    position: relative;
    z-index: 1;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    width: 100%;
    color: #FFF;
    text-align: center;
}
.banner__txt {
    display: none;
}

/*----------------Estilos de info--------------------*/
/* .info__columna {
    background:	#0565ad;
    color: #FFF;
    padding: 15px;
    margin-bottom: 30px;
} */

/*----------------Estilos de cursos--------------------*/
 .cursos__columna {
    position: relative;
    margin-bottom: 30px;
}
.cursos__columna img{
  height: 320px;
}
.cursos__descripcion {
  position: absolute;
  top: 20px;
  left: 5px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 60%;
  height: 280px;
  padding: 5px;
} 

.cursos__titulo {
    font-size: 25px;
    margin: 5px 0 ;
}  

.bordeado img{
  max-height: 100%;
  max-width: 100%;
  width: 270px;
  height: 190px;
  margin-bottom: 20px;
  box-shadow: rgb(2 86 149 / 65%) 0px 4px 8px 0px;
}

.descripcion-grafico , .descripcion-ploteo, .descripcion-envidriado {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 60%;
  height: 320px;
  padding: 5px;
} 

 .cursos__extraDiseño, .cursos__ploteo, .cursos__envidriado{
   margin-top:20px;
 }

/*----------------Estilos de footer--------------------*/
 
*{
 
  color: #FFF;
 
}
footer{
  position: static;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #FFF;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}

.left .content .social a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.textarea{
  color: #3498db;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}



/*---------------Estilos responsive-------------*/
  @media(min-width:480px) {
    .logo {
        font-size: 50px;
    }
    .banner__titulo {
        font-size: 28px;
        margin: -10px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }

    .info, .cursos {
        display: flex;
        justify-content: space-between;
        margin-top: -30px;
    }
    .info__columna {
        width: 32%;
    }
    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .cursos {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .cursos__titulo {
    font-size: 23px;
    margin: 2px 0 ;
    } 

    .cursos__txt{
        font-size: 14px;
    }
    .section__titulo {
        width: 100%;
    }
    img.imagen_pola {
    margin-top: -20px;
    height: 364px!important;
    }
    .cursos__columna {
        width: 49%;
    }
    .cursos__descripcion.pola {
    margin-top: -17px;
    height: 317px;
}
    .cursos__descripcion {
  position: absolute;
  top: 20px;
  left: 4px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 60%;
  height: 23.6%;
  padding: 5px;
}
    .banner .contenedor {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%) translateY(-5%);
    width: 100%;
    color: #FFF;
    text-align: center;
}

/* footer .social [class^="icon-"] {
    margin: 0 10px;
} */
} 
 @media(min-width: 768px) {
   .banner__titulo {
       font-size: 50px;
   }
   .cursos__titulo {
       font-size: 40px;
   }
    .banner .contenedor {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%) translateY(-5%);
    width: 100%;
    color: #FFF;
    text-align: center;
}
  .cursos__descripcion {
  position: absolute;
  top: 17px;
  left: 4px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 60%;
  height: 87.4%;
  padding: 5px;
}
 .cursos__descripcion.pola {
    margin-top: -14px;
    height: 317px;
}
.img_PolarizadoExtra, .img_diseñoGrafico, .img_ploteo, .img_envidriado {
    margin: auto;
}
} 
 @media(min-width: 1024px) { 
   
    .contenedor{
        width: 1000px;
    } 
    .section__titulo{
        font-size: 50px;
        margin: 30px 0;
    }
    .nav{
        position: static;
        width: auto;
    }

    .menu{
        display: flex;
        
    }
    .fa-bars{
        display: none;
       
        
    }  
    .nav {
    position: static;
    width: auto;
    padding-left: 46.5%;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .select{
        color: #FFF;
        /* background:  #FBA919; */
        background: #0565ad;
    }
   .banner__titulo {
       font-size: 60px;
   }
   .banner__txt{
       font-size: 30px;
   }
   .info{
       margin-top: -55px;
   }
   .info__titulo{
       font-size: 40px;
       text-align: center;
   }
   .cursos__titulo {
       font-size: 50px;
   }
   .cursos__txt{
       font-size: 20px;
   } 
    .banner .contenedor {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
    width: 100%;
    color: #FFF;
    text-align: center;
} 
.cursos__descripcion {
  position: absolute;
  top: 24px;
  left: 5px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 59%;
  height: 87%;
  padding: 6px;
}  
 }
 @media(min-width:1280px){
   .contenedor{
       width: 1100px;
   }
   .banner .contenedor{
       top: 77%;
   }
   /* .logo{
       font-size: 70px;
   } */
   .nav {
    position: static;
    width: auto;
    padding-left: 50%;
}
.portada-chino {
    position: absolute;
    z-index: 1;
    width: 325px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    margin-top: -60px;
}
.cursos__descripcion {
  position: absolute;
  top: 17px;
  left: 5px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 55%;
  height: 87%;
  padding: 6px;
} 
.img_PolarizadoExtra, .img_diseñoGrafico, .img_ploteo, .img_envidriado {
    max-height: 100%;
    max-width: 100%;
    width: 350px !important;
    height: 280px !important;
    margin-left: 38px;
}
 }